
@import 'layout/header';
@import 'core/settings';

body {
    margin: 0;
    background: $color-white;
    align-items: center;
}
.page__main--white {
    padding: 30px 15px;
}
.reasons{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     background-color: #8ccbea;
     padding: 30px 70px;
}

.reasons__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph--grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

