<footer class="page__footer">
    <div class="circle__footer">
        <div class="scroll-up">
            <img src="assets/images/ico-arrow.svg" alt="">
        </div>
    </div>
    <li class="page__footer--sections">
        <ul>articles</ul>
        <ul>books</ul>
        <ul>events</ul>
        <ul>reasons</ul>
        <ul>tips</ul>
    </li>
    <li class="page__footer--social--media">
        <ul>twitter</ul>
        <ul>instagram</ul>
        <ul>mastodon.social</ul>
    </li>
    <h6 class="copy">&copy;2017</h6>
    <h6 class="components">we <i class="fas fa-heart"></i> components</h6>
</footer>