<header id="header" class="page__header">
    <div class="ico-menu">
        <img src="assets/images/ico-menu.svg" alt="menu">
    </div>
    <div class="page__header--text">
        <h1>anonymous proxy</h1>
        <h2 class="page__header--h2">in hac habitasse platea dictumst</h2>
        <a href="#main">
            <div class="circle">
                <div class="scroll-down">
                    <img src="assets/images/ico-scroll-down.svg" alt="go to next section">
                </div>
            </div>
        </a>
    </div>
</header>