<main class="page__main">
    <div class="page__main--white">
        <h5 class="page__main--h5">insomnia tips</h5>
        <h3 class="page__main--h3">looking through a window</h3>
        <div class="page__main--paragraph">
            <p>donec accumsan, nulla ut volutpat porttitor, quamodio tempus felis, at luctus ex diam nec lectus. vivamus
                semper sodales rutrum.
            </p>
        </div>

        <button class="button__go">go</button>
    </div>
    <aside class="page__main--blue">
        <div class="reasons">
            <div class="reasons__title">
                <h3>3 reasons to purchase</h3>
            </div>
            <div class="reasons__1">
                <h5 class="reasons__subtitle">ut sed metus</h5>
                <p class="paragraph--grid">lorem ipsum dlor sit amet, consecteur.</p>
            </div>
            <div class="reasons__2">
                <h5 class="reasons__subtitle">curabitur ac erat</h5>
                <p class="paragraph--grid">mauris mattis urna quis lorem molestie.</p>
            </div>
            <div class="reasons__3">
                <h5 class="reasons__subtitle">morbi dictum</h5>
                <p class="paragraph--grid">aliquam in dolor et dolor tincidunt.</p>
            </div>
        </div>
        <button class="button__more--reasons">more reasons</button>
    </aside>
</main>