<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>f-m1-evaluacion-final-AranchaAdalab</title>
  <link rel="icon" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <partial src="_header.html"></partial>
    <partial src="_main.html"></partial>
    <partial src="_footer.html"></partial>
  </div>
</body>
</html>
