.page__header {
    height: 100vh;
    background-image: url(../images/cover.jpg);
}

.page__header--text {
    display: flex;
    align-items: center;
    justify-content: center;

}
.ico-menu{
    display: inline;
    z-index: 1;
    background: blue;
    position: fixed;
    top: 0px;
}

h1 {
    color: white;
    z-index: 1;
    position: absolute;
    top: 250px;
}

h4 {
    color: white;
    z-index: 1;
    position: absolute;
    top: 300px;
}

.circle {
    background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 400px;
  z-index: 0;
}
.scroll-down {
    position: relative;
    z-index: 1;
}